<!DOCTYPE html>
<html>
    <head>
        <!-- The tag title in head modify the name of page in the navegator -->
        {% block title%}
        <title>Gym Manager</title>
        {% endblock title%}

        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <header>
            <div class="links">
                <!-- The "a" tag is for hyperlinks -->
                <a href="/">Cadastro</a>
                <a href="/usuarios">Usuários Cadastrados</a>
            </div>
        </header>

        {% block content %}
        {% endblock content %}
    
    </body>
</html>