<!DOCTYPE html>
<html>
    <head>
        <!-- The tag title in head modify the name of page in the navegator -->
        {% block title%}
        <title>Desafio Bem Promotora</title>
        {% endblock title%}

        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <header>
            <div class="links">
                <!-- The "a" tag is for hyperlinks -->
                <a href="/">Pesquisa</a>
                <a href="/pesquisas-registradas">Pesquisas Registradas</a>
            </div>
        </header>

        {% block content %}
        {% endblock content %}


    

    </body>

    

</html>