{% extends "layout.njk" %}

{% block content %}

    <form action="/enviarForm" method="POST">

        <div class="card">

            <section class="details">
                <h3>Pesquisa</h3>
                <div class="item">
                    <div class="titleItem">Nome</div>
                    <input type="text" name="name" class="inputText" placeholder="Insira o nome do usuário que deseja cadastrar..." required>
                </div>
                <div class="item">
                    <div class="titleItem">Qual sua faixa de idade:</div>
                    <div class="radioButton">
                        <input type="radio" name="idade" value="Até 30 anos" required>
                        <label>Até 30 anos</label>
                    </div>
                    <div class="radioButton">
                        <input type="radio" name="idade" value="De 30 a 50 anos" required>
                        <label>De 30 a 50 anos</label>
                    </div>
                    <div class="radioButton">
                        <input type="radio" name="idade" value="De 50 a 65 anos" required>
                        <label>De 50 a 65 anos</label>
                    </div>
                    <div class="radioButton">
                        <input type="radio" name="idade" value="Acima de 65 anos" required>
                        <label>Acima de 65 anos</label>
                    </div>
                </div>
                <div class="item">
                    <div class="titleItem">Qual seu convênio</div>
                    <div class="radioButton">
                        <input type="radio" name="convenio" value="INSS" required>
                        <label>INSS</label>
                    </div>
                    <div class="radioButton">
                        <input type="radio" name="convenio" value="SIAPE" required>
                        <label>SIAPE</label>
                    </div>
                    <div class="radioButton">
                        <input type="radio" name="convenio" value="Forças Armadas" required>
                        <label>Forças Armadas</label>
                    </div>
                    <div class="radioButton">
                        <input type="radio" name="convenio" value="Outros" required>
                        <label>Outros</label>
                    </div>
                </div>
                <div class="item">
                    <div class="titleItem">Qual sua faixa salarial:</div>
                    <div class="radioButton">
                        <input type="radio" name="salario" value="Até 2 SM" required>
                        <label>Até 2 SM</label>
                    </div>
                    <div class="radioButton">
                        <input type="radio" name="salario" value="De 2 a 4 SM" required>
                        <label>De 2 a 4 SM</label>
                    </div>
                    <div class="radioButton">
                        <input type="radio" name="salario" value="De 4 a 6 SM" required>
                        <label>De 4 a 6 SM</label>
                    </div>
                    <div class="radioButton">
                        <input type="radio" name="salario" value="Acima de 6 SM" required>
                        <label>Acima de 6 SM</label>
                    </div>
                </div>
                <div class="item">
                    <div class="titleItem">Por que você realizou o empréstimo:</div>
                    <div class="radioButton">
                        <input type="radio" name="emprestimo" value="Pagar Contas" required>
                        <label>Pagar contas</label>
                    </div>
                    <div class="radioButton">
                        <input type="radio" name="emprestimo" value="Reforma da Casa" required>
                        <label>Reforma da Casa</label>
                    </div>
                    <div class="radioButton">
                        <input type="radio" name="emprestimo" value="Compra de Carro" required>
                        <label>Compra de Carro</label>
                    </div>
                    <div class="radioButton">
                        <input type="radio" name="emprestimo" value="Outros" required>
                        <label>Outros</label>
                    </div>
                </div>

                <button type="submit">Enviar Formulário</button>

            </section>

            

        </div>

    </form>


{% endblock content %}