{% extends "layout.njk" %}

{% block content %}

    <div class="card">

        <section class="details">
            <h3>Pesquisas Registradas</h3>

            {% for row in rows %}
                <div class="item">
                    <div class="titleItem">Nome:</div>
                    <div class="resposta">{{row.name}}</div>
                </div>
                <div class="item">
                    <div class="titleItem">Qual sua faixa de idade:</div>
                    <div class="resposta">{{row.idade}}</div>
                </div>
                <div class="item">
                    <div class="titleItem">Qual seu convênio</div>
                    <div class="resposta">{{row.convenio}}</div>
                </div>
                <div class="item">
                    <div class="titleItem">Qual sua faixa salarial:</div>
                    <div class="resposta">{{row.salario}}</div>
                </div>
                <div class="item">
                    <div class="titleItem">Por que você realizou o empréstimo:</div>
                    <div class="resposta">{{row.emprestimo}}</div>
                </div>

            {% endfor %}

        </section>

    </div>

{% endblock content %}