{% extends "layout.njk" %}

{% block content %}

<div class="card">
    
    <section class="details">
                <h3>Usuários Cadastrados</h3>
                <div class="item">
                    <div class="titleItem">Nome:</div>
                    <div class="resposta"></div>
                </div>
                <div class="item">
                    <div class="titleItem">Qual sua faixa de idade:</div>
                    <div class="resposta"></div>
                </div>
                <div class="item">
                    <div class="titleItem">Qual seu convênio</div>
                    <div class="resposta"></div>
                </div>
                <div class="item">
                    <div class="titleItem">Qual sua faixa salarial:</div>
                    <div class="resposta"></div>
                </div>
                <div class="item">
                    <div class="titleItem">Por que você realizou o empréstimo:</div>
                    <div class="resposta"></div>
                </div>
    </section>            

</div>

{% endblock content %}